@media only screen and (max-width:1024px) {
    div.container{
        padding: 0 40px;
    }
    .feature-right {
        padding: 80px 20px 0px 150px;
    }
    .hero-heading {
        font-size: 27px;
    }
    .feature-para {
        color: #d2d1d1;
        font-size: 16px;
    }
    .social-data p {
        font-size: 15px;
    }
    ul.social-ul li {
        padding: 0px 19px 0 7px;
        font-size: 48px;
    }
    .social-side-1 {
        padding-right: 0px;
    }
    .tab-img img {
    padding-right: 0px;
    }
    .stand-img-sec img {
        margin-left: 0px;
    }
}

@media only screen and (max-width:912px) {
    .hero-heading {
        font-size: 25px;
    }
    .hero-para {
        color: #d2d1d1;
        font-size: 13px;
    }
    .feature-right {
        padding: 73px 0px 0px 89px;
    }
    ul.social-icon li {
        padding: 0px 12px;
        font-size: 33px;
    }
    .social-heading-section {
        padding-right: 30px;
    }

    .card-1 {
        margin: 0 5px;
    }

    .card-2 {
        margin: 0 5px;
    }

    .card-3 {
        margin: 0 5px;
    }
}

@media only screen and (max-width:820px){
    .feature-head h2{
        font-size: 30px;
    }

    ul.social-ul li {
        padding: 0px 15px;
        font-size: 26px;
    }

    ul.nav.nav-pills.nav-stacked.flex-column {
        padding-left: 0px;
    }

    .card-1 {
        margin: 0 5px;
    }

    .card-2 {
        margin: 0 5px;
    }

    .card-3 {
        margin: 0 5px;
    }
}

@media only screen and (max-width:768px){   

    /* feature section */
    .feature-right {
        padding: 73px 20px 0px 30px;
    }
    .feature-head h2{
        font-size: 22px;
    }

    /* Social media section */
    ul.social-ul li {
        padding: 0px 15px 0 5px;
        font-size: 32px;
    }
    section.social-media-main {
        padding: 0px 0px;
    }

    /* tabs section */
    .tab-img img {
        padding-right: 26px;
    }

    ul.nav.nav-pills.nav-stacked.flex-column {
        padding-left: 0px;
    }

    /* pricing section */
    .card-1 {
        margin: 0 5px;
    }
    .card-2 {
        margin: 0 5px;
    }
    .card-3 {
        margin: 0 5px;
    }

    /* axure design section */

    .stylish-main-div p{
        font-size: 15px;
    }

    /* contact section */
    .form-input-field{
        padding: 20px 5px;
    }

    .input-group {
        padding-bottom: 34px;
    }
}

@media only screen and (max-width:540px){
    /* nav bar section */
    .nav-bar {
        flex-direction: column;
    }

    .head-logo i{
        float: right;
        color: #fff;
        font-size: 30px;
        border: 1px solid #fff;
        padding: 4px 10px;
    }

    .main-menu ul {
        flex-direction: column;
    }

    .main-menu ul li {
        padding: 20px 0px;
    }
    /* feature section */
    .feature-right {
        padding: 15px 0px 0px 0px;
    }

    .main-fetaure {
        flex-direction: column;
    }

    /* tabs section */
    .tab-main {
        flex-direction: column;
    }

    ul.nav.nav-pills.nav-stacked.flex-column {
        display: flex;
    }

    ul.nav.nav-pills.nav-stacked.flex-column li {
        margin: 0 5px;
    }

    .tab-option{
        display: flex;
        justify-content: center;
    }
    

    /* social media section */
    ul.social-ul li {
        padding: 0px 8px;
        font-size: 18px;
    }

    .social-data p {
        font-size: 12px;
    }

    /* sub list section */
    .list-half{
        flex-direction: column;
    }

    /* standard section */
    .main-stand {
        flex-direction: column-reverse;
    }

    .stand-img-sec img {
        margin-left: -23px !important;
        padding-left: 0px;
    }

    /* awesome section */
    .awesome-2{
        flex-direction: column;
    }

    /* pricing section */
    .pricing-card{
        flex-direction: column;
    }
    .card-data{
        margin: 15px 0;
    }

    /* style section */
    .stylish-main-div p {
        font-size: 15px;
        padding: 0 30px;
    }

    /* contact section */
    .main-contact{
        flex-direction: column;
    }

    textarea {
    width: 100%;
    }

    /* footer section */
    footer.main-footer {
        padding: 14px 0px;
    }
}

@media only screen and (max-width:425px){

    

    /* feature section */
    .main-fetaure {
        flex-direction: column;
    }

    .feature-right {
        padding: 40px 0px 0px 0px;
    }

    /* Social media section */
    .social {
        flex-direction: column;
    }

    .social-ul{
        text-align: center;
    }

    ul.social-ul li {
        padding: 0px 10px;
        font-size: 32px;
    }

    ul.social-ul {
        padding: 15px 0 15px 0px;
    }

    .social-data {
        text-align: center;
    }

    /* tabs section */
    .tab-main {
        flex-direction: column;
    }

    ul.nav.nav-pills.nav-stacked.flex-column {
        display: flex;
    }

    ul.nav.nav-pills.nav-stacked.flex-column li {
        margin: 0 5px;
    }

    /* sub list section */
    .list-half {
        flex-direction: column;
    }

    /* standard section */
    .main-stand {
        flex-direction: column-reverse;
    }

    .stand-img-sec img {
        margin-left: -80px;
    }

    .sub-list-img img {
        margin-left: -22px;
    }

    /* awesome section */
    .awesome-2 {
        display: flex;
        margin-top: 80px;
        flex-direction: column;
    }

    /* pricing section */
    .pricing-card {
        flex-direction: column;
    }

    .card-1 {
        margin: 15px 5px;
    }

    .card-2 {
        margin: 15px 5px;
    }

    .card-3 {
        margin: 15px 5px;
    }

    /* contact section */
    .main-contact {
        flex-direction: column;
    }

    .tab-para {
    flex: 2;
    padding-right: 0px;
    padding-top: 15px;
    margin-right: 0px;
    }

    .sub-list-right {
    flex: 50%;
    margin-left: 0px;
    }
}

@media only screen and (max-width:414px){
    /* nav bar section  */
    .head-logo{
        padding: 10px 0;
    }
    /* social media section */
    .social-icons {
        display: flex;
        justify-content: center;
    }

    /* tabs section */
    .tabs a {
        padding: 29px;
    }
    /* contact section */
    textarea {
        width: 100%;
    }

    /* footer section */
    ul.footer-icon li {
        padding: 10px 16px;
    }
    
}

@media only screen and (max-width:390px){
    /* tabs section */
    .tabs a {
        padding: 25px;
    }
}

@media only screen and (max-width:393px){
    .tabs a {
        padding: 26px;
    }
    
}


@media only screen and (max-width:375px){

    /* nav bar section */
    .head-logo{
        padding: 10px 0;
    }

    /* social media section */
    ul.social-ul li {
        padding: 0px 10px;
        font-size: 22px;
    }

    .social-icons{
        justify-content: center;
        display: flex;
    }

    /* tabs section */
    .tabs a {
        padding: 15px;
    }

    /* contact us section */
    textarea {
        width: 100%;
    }

    /* footer style */
    ul.footer-icon li {
        font-size: 20px;
        padding: 10px 12px;
    }
}

@media only screen and (max-width:320px){
    /* nav bar section */
    .head-logo {
        padding: 10px 0px;
    }
    /* feature section */
    .feature-head h2 {
        font-size: 19px;
    }

    /* standard section */
    .stand-img-sec img {
        padding-left: 0px;
    }
    .stand-img-sec img {
        margin-left: -18px;
    }

    /* social media section */
    .social-data p {
        font-size: 11px;
    }

    ul.social-ul {
        padding: 0px 0 0px 0px;
    }

    /* tabs section */
    .tabs a {
        padding: 12px;
    }
}

@media only screen and (max-width:320px){
    ul.social-ul li {
        padding: 0px 8px;
        font-size: 22px;
    }

    .tabs a {
        padding: 0px;
    }

    ul.nav.nav-pills.nav-stacked.flex-column {
        display: contents;
    }

    .testimonial-1 {
        margin: 0 20px;
    }

    .testimonial-2 {
        margin: 0 20px;
    }

    .testimonial-3 {
        margin: 0 20px;
    }
}
